.modal-cart {
    width: 50%;
    min-height: 200px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 8;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px 20px;
    color: $dark-green;
    border-radius: 10px;
    font-family: $reg-oswald;
    letter-spacing: 3px;
    display: none;
    
    @include tab-mid {
      width: 90%;
    }
    @include mob-large {
      width: 90%;
    }

    @include mob-mid {
      width: 100%;
    }

    &__items {
      width: 100%;
    }

    &__total-title{
      font-size: 20px;
      font-weight: bold;
    }

    &__btn {
      padding: 15px 25px;
      border: 1px solid $dark-green;
      min-width: 100px;
    }

    &__holder {
      display: flex;
      justify-content: space-around;
    }
    
  &__icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 12;
  }

  &__title {
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }
}


