.header {
  max-height: calc(100vh - 80px);
  border: 1px solid $white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  color: $white;
  font-family: $reg-oswald;
  border-bottom: 1px solid $white;

    @include tab-mid {
      min-height: 60px;
    }

    &.active {
      .header__nav {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
      }

      .burger-btn {
          span {
              opacity: 0;
              visibility: hidden;
          }

          &::before {
              transform: rotate(45deg);
              top: 40%;
          }

          &::after {
              transform: rotate(-45deg);
              bottom: 50%;
          }
      }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
  }

  &__column {
    max-width: calc(100% / 3);
    width: 100%;

      @include mob-large {
        max-width: calc(100% / 1.2);
        width: 100%;
      }

    &_nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

        @include tab-mid {
          width: 100px;
        }
    }

      &_logo {
        max-width: 100px;
    }
  }
  &__nav-buttons {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;

    @include mob-large {
      padding: 0;
    }
  }

  &__button {
    height: 100%;
    width: 100%;
    border-left: 1px solid $white;
    align-items: center;
    text-align:center;
    color: $white;
    text-transform: uppercase;
    background-color: transparent;

    @include tab-mid {
      padding: 10px;
    }
    

    &_search {
      display: flex;
      justify-content: center;
      align-items: center;

      
    @include tab {
      display: none;
    }

      input {
        width: 60%;
        background-color: transparent;
        color: $white;
      }

      input::placeholder {
        color: white;
        text-transform: uppercase;
      }
      
      input:focus {
        border: 2px solid white; 
      }
      button{
        background-color: transparent;
        padding-left: 3px;
        width: 10%;
        color: $white;
      }


    }
  }

  &__btn-search {
    padding-right: 5px;
  }


  &__nav {
    @include tab {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      display: flex;
      align-items: center;
      background-color: $white;
      color: $black;
      width: 100%;
      padding: 20px;
      transform: translateX(-100%);
      transition: all .3s ease-in-out;
      opacity: 1;
      visibility: hidden;
    }
  }

  &__nav-list{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 25px 50px;

    @include tab {
      margin: 0;
      padding: 25px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
    }
  }

  &__nav-item {
    margin-right: 50px;

    &.active {
      text-decoration: line-through;
    }


    &:last-child{
      margin-right: 0;
    }
    
    @include tab {
      margin: 0;
      width: 100%;
      font-size: 15px;
    }
  }

  &__nav-link {
    @include tab {
      padding: 10px;
    }
  }

  &__logo{
    font-size: 30px;
    align-items: center;
    text-align: center;
  }


}

.burger-btn {
  width: 30px;
  height: 20px;
  color: $black;
  position: absolute;
  bottom: 50%;
  left: 13px;
  z-index: 4;
  transform: translateY(50%);
  background-color: transparent;
  outline: none;
  border: 0;
  transition: all .3s linear;
  visibility: hidden;
  opacity: 0;
  display: none;

  @include tab{
      display: block;
      visibility: visible;
      opacity: 1;
  }

  &::before{
  content: '';
  background-color: $black;        
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 0;
}

&::after {
  content: '';
  background-color: $black;    
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
}

span {
  content: '';
  background-color: $black;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
}
}