@font-face {
  font-family: 'Oswald regular';
  src: url('../fonts/Oswald-Regular.eot');
  src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Oswald-Regular.woff2') format('woff2'),
      url('../fonts/Oswald-Regular.woff') format('woff'),
      url('../fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald light';
  src: url('../fonts/Oswald-Light.eot');
  src: url('../fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Oswald-Light.woff2') format('woff2'),
      url('../fonts/Oswald-Light.woff') format('woff'),
      url('../fonts/Oswald-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}





@font-face {
  font-family: 'gotham medium regular';
  src: url('../fonts/gotham_medium_regular-webfont.woff2') format('woff2'),
       url('../fonts/gotham_medium_regular-webfont.woff') format('woff'),
       url('../fonts/gotham_medium_regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
