//colors
$white: #f7f8f3;
$green-grey:#8f9673;
$green-border: #ced6ae;
$black: #1c1c1b;
$bg: #f1f1f1;
$dark-green: #6d7749;
$light-green: #ced6af;
$bg: #f7f7f3;
$grey: #f1f1f1;
$yellow: yellow;

//fonts
$light-oswald: 'Oswald light';
$reg-oswald: 'Oswald regular';




